section.section.projects
  .container
    .projects__wrap
      h2.title.title--dark.title--section.projects__title= projects.title
      .projects__list
        each val in projects.list
          a.projects__item.wow.fadeInUp(href="projects-inner.html")
            .projects__img
              img(src=val["img"] alt=val["name"])
            .projects__content
              span.projects__meter= val["meter"]
              h3.projects__name= val["name"]
              span.projects__tag= val["tag"]