section.section.brands
  .container
    .brands__wrap
      h2.title.title--dark.title--section.brands__title= brands.title
      .brands__list
        each val in brands.list
          .brands__item.wow.fadeInUp
            .brands__logo
              img(src=val["logo"], alt=val["name"])
            .brands__photo
              img(src=val["imgSrc"], alt=val["imgAlt"])
              a.brands__collection(href="#")
                span= brands.collection
                +icon(main.general.icons.arrow)
            .brands__info
              h3.brands__name= val["name"]
              span.brands__author= val["author"]