section.wow.fadeInUp.brands-inner___collection.bic
  .container
    h2.title.title--dark.bic__title= brandsInner.collection.title
    .bic__wrap
      a(href=brandsInner.collection.imgBig.src data-caption=brandsInner.collection.imgBig.title data-fancybox=brandsInner.collection.modal.id).bic__item.bic__item--big
        .bic__img.search__block.img-hover
          img(src=brandsInner.collection.imgBig.src, alt=brandsInner.collection.imgBig.title)
        span.bic__subtitle= brandsInner.collection.imgBig.title
      .bic__list
        each item in brandsInner.collection.list
          a(href=item["src"] data-fancybox=brandsInner.collection.modal.id data-caption=item["title"]).bic__item
            .bic__img.search__block.img-hover
              img(src=item["src"], alt=item["title"])
            span.bic__subtitle= item["title"]
    .bic__wrap--hidden
      .bic__wrap
        a(href=brandsInner.collection.imgBig.src data-caption=brandsInner.collection.imgBig.title data-fancybox=brandsInner.collection.modal.id).bic__item.bic__item--big
          .bic__img.search__block.img-hover
            img(src=brandsInner.collection.imgBig.src, alt=brandsInner.collection.imgBig.title)
          span.bic__subtitle= brandsInner.collection.imgBig.title
        .bic__list
          each item in brandsInner.collection.list
            a(href=item["src"] data-fancybox=brandsInner.collection.modal.id data-caption=item["title"]).bic__item
              .bic__img.search__block.img-hover
                img(src=item["src"], alt=item["title"])
              span.bic__subtitle= item["title"]
    a(href="#").bic__more= brandsInner.collection.more